{
  "name": "{{ projectName }}",
  "version": "{{ projectVersion }}",
  "private": true,
  "scripts": {
    "dev": "next dev",
    "build": "next build",
    "start": "next start",
    "lint": "next lint",
    "gitvan:startup": "gitvan job nextjs:startup"
  },
  "dependencies": {
    "next": "{{ nextVersion }}",
    "react": "{{ reactVersion }}",
    "react-dom": "{{ reactVersion }}"
  },
  "devDependencies": {
    "@types/node": "{{ nodeTypesVersion }}",
    "@types/react": "{{ reactTypesVersion }}",
    "@types/react-dom": "{{ reactTypesVersion }}",
    "eslint": "{{ eslintVersion }}",
    "eslint-config-next": "{{ nextVersion }}",
    "typescript": "{{ typescriptVersion }}"
  },
  "gitvan": {
    "pack": "nextjs-github-pack",
    "created": "{{ now | date('YYYY-MM-DD HH:mm:ss') }}",
    "version": "{{ gitvanVersion }}"
  }
}
